#external_p {
    color: yellow;
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    font-size: 32px;
}

#h2 {
    text-transform: uppercase;
}

.languages {
    background-color: aquamarine;
}

li[type=""] {
    border: 1px solid skyblue;
}

#node,
#node + #express,
#express + #react,
#react + #mongo {
    list-style: none;
}

section img {
    border-radius: 50%;
}

img ~ p {
    text-align: center;
}

#other > li {
    letter-spacing: 15px;
}